<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Логотип -->
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', path='logo.webp') }}" alt="Logo" height="30">
    </a>

    <!-- Кнопка для мобільного меню -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Навігаційні посилання -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Посилання на головну сторінку -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>

        <!-- Посилання на Road map -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('navigation') }}">Road map</a>
        </li>
      </ul>

      <!-- Пошукова форма -->
      <form class="d-flex" method="post">
        <input class="form-control me-2" type="search" placeholder="Search tours" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>




